<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <!-- Add necessary permissions for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Add Firebase permissions for Firebase Messaging, if used -->
    <uses-permission android:name="com.google.android.c2dm.permission.SEND"/>
    <permission android:name="com.example.myfirstapp.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.myfirstapp.permission.C2D_MESSAGE"/>

    <application
        android:name="${applicationName}"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/launcher_icon"
        android:label="MEDS"
        android:theme="@style/LaunchTheme"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />

            <!-- Intent filter to launch the app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Firebase initialization meta-data -->
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
<!--            android:resource="@drawable/ic_notification" />-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_color" />

        <!-- Firebase configuration meta-data (important for Firebase) -->
        <meta-data
            android:name="com.google.firebase.analytics.APP_ID"
            android:value="@string/google_app_id" />
        <meta-data
            android:name="com.google.firebase.crashlytics.collection.enabled"
            android:value="true" />

        <!-- Required for Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Required for querying activities that can process text -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
